/* html {
  background-color: #222736;
} */

.carousel-inner {
  height: 100px;
  border-radius: 5px;
}

.card-img-overlay {
  background-color: black;
  opacity: 0.5;
}

.offer-slider-container {
  width: 100%; /* Make the container full width */
}

.flicking-wrapper {
  width: 100%; /* Make the Flicking component full width */
}

.slider-card {
  width: 100%; /* Make each card full width */
}

.slider-card img {
  width: 100%; /* Make each image inside the card full width */
  height: auto; /* Automatically adjust the height based on the width */
}

.gTLZXx {
  position: absolute;
  z-index: 5;
  width: 10% !important;
  right: 40px !important;
  top: 20px !important;
  transform: rotate(45deg) !important;
}

/* CSS */
.button-85 {
  /* padding: 0.6em 2em; */
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  /* cursor: pointer; */
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  /* touch-action: manipulation; */
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* CSS */
.button-14 {
  touch-action: manipulation;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

.button-14-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  transition-property: transform;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.button-14:active .button-14-top {
  transform: translateY(6px);
}

.button-14-top::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#7d7d7d, rgb(160, 160, 160));
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2),
    0 1px 2px 1px rgba(255, 255, 255, 0.2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: 0.2s;
}

.button-14:active .button-14-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button-14-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #353535;
  background-image: radial-gradient(
      4px 8px at 4px calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(
      4px 8px at calc(100% - 4px) calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(16px at -4px 0, white, transparent),
    radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5),
    inset 0 -1px 3px 3px rgba(0, 0, 0, 0.4);
  transition-property: border-radius, padding-top;
  transition-duration: 0.2s;
}

.button-14:active .button-14-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-14-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #f77 0, #c60000 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #a0a0a0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #353535 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #bababa 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #c8c8c8 0 3px 7px inset;
  transform: translateY(2px);
}

.round-text {
  font-size: 25px;
  /* line-height: 1; */
}

.form-control {
  /* background-color: #222736; */
  border-color: #424242;
  border-width: 0 0 1px 0;
  color: #000000;
}

.form-control:focus {
  /* background-color:#222; */
  color: #515151;
  border-width: 0 0 1px 0;
  border-color: #424242;
}

.progress-text {
  font-size: 12px;
}
.winningtable td {
  text-align: right;
}

/* mobile navigation */

.mobile-nav nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.mobile-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 5px 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.mobile-nav .nav-item span {
  width: 0;
  overflow: hidden;
}

.mobile-nav .nav-item:focus {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

.mobile-nav .nav-item:focus span {
  width: 100%;
  margin-left: 8px;
  transition: 0.2s;
}

.slotcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 10;
}

.slot {
  width: 40px;
  height: 40px;
  border: 0px solid black;
  /* border: 5px solid transparent; */
  /* border-image: url(../public/Assets/images/border.png) 30 round; */
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset; */
}

.slot .symbols {
  position: absolute;
  top: 0;
  left: -1;
  transition: top 5s;
}

.slot .symbol {
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  display: block;
  text-align: center;
  padding-top: 0px;
}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../public/Assets/images/border.png) 30 stretch;
}

.gamearea {
  background-image: url(../public/Assets/images/game-bg.jpg);
  border-radius: 10px;
}

.referCode {
  font-size: 20px;
  border: 2px dashed black;
  border-radius: 10px;
  padding: 20px;
  font-weight: 900;
}
